@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*--variáveis--*/
:root{
    /*--paleta de cores--*/
    --cor-primaria: #FAF0E4;
    --cor-secundaria: ;
    --cor-terciaria: #1E87BB;
    --cor-texto: #0c0c0c;
    --cor-texto-light: #f3f6fb;

    /*--fontes/tamanho das fontes--*/
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
}