@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;500;600&display=swap');

:root {
    --cor-primaria: #fcfcfc;
    --cor-secundaria: #a9d7e2;
    --cor-terciaria: #062b64;
    --cor-letra: #000000;

    --color-neutral-0: #66bbe6;
    --color-neutral-10: #1E87BB;
    --color-neutral-30: #d8d8d8;
    --color-neutral-40: #f5f5f5;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 0% 8% 0% 0%;
    background-color: var(--cor-terciaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    background-color: var(--cor-terciaria);
}

.paragrafo {
    text-align: justify;
    font-family: var(--fonte-secundaria);
    color: var(--cor-letra);
    align-items: center;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;

    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
    background-color: var(--cor-terciaria);
}

.paragrafo_rodape {
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    padding-left: 106px;

}

.container-fluid {
    background-color: var(--cor-terciaria);
}

.container-fluid>.navbar-nav>.nav-item>a {
    color: var(--color-neutral-40);
    font-size: 1.0rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    /*flex-direction: column;*/
    gap: 40px;
    display: inline-flex;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
    color: #394faf;
    text-decoration: none;
    background-color: var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 8%;
    border-radius: 58px;
}

.img_logo {
    width: 65%;
}

.apresentacao__links {
    display: flex;
    content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-terciaria);
    margin-left: 5%;


}

.links__navegacao {
    /*display: inline-flex;*/
    justify-content: center;
    gap: 16px;
    width: 2%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10.5px 5px 5px 5px;
    text-decoration: none;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    margin-left: 50%;

}

.container>.row>.col>img {
    width: 20%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apresentacao_links>.apresentacao__links__navegacao>img {
    width: 2rem;

}

/*Estilização do form*/
.form-contanier {
    display: flex;
    align-items: center;
}

.form-control {
    margin-right: 5px;
}

.imagens_redes_sociais {
    width: 20px;

}


/*footer*/
footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer__link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 3.5rem;
}

#footer h2 {
    text-align: center;
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer__link i {
    font-size: 1.25rem;
}

#footer_social_media .footer__link:hover {
    opacity: 0.8;
}

#telephone {
    background-color: #f93131e3;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer_list .footer__link {
    font-size: 1.2rem;
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer_list .footer__link:hover {
    color: #f5f5f5;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #4267b3;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*media queires*/
@media screen and (max-width: 730px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}