@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
    --cor-primaria: #00193f;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
}
/*usano no nav o container e aplicando estilos nos elementos*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 10px 20px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.logo img {
    max-width: 80px;
    border-radius: 8px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search button.search-button {
    padding: 5px 10px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }
}

/*Cabeçalho*/
.cabecalho{
    padding: 2% 0% 0% 15%;
}

/* Conteúdo da main*/
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--cor-primaria);
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--cor-primaria);
}
.titulo-destaque{
    color: var(--cor-hover);
}

/*imagens da seção de conteudo da apresentação*/

.img_acessibilidade{
    width: 58%;
    border-radius: 8px;
}
.img_logo{
    width: 35%;
    border-radius: 8px;
}

.apresentacao__links__navegacao{ 
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}